body {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: rgb(58, 58, 58);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.section {
    margin-bottom: 50px;
}

.color {
    color: white;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.item:hover {
    background: rgb(92, 92, 92);
}